

  #BackTestWrapper {
    font-size: 14px;
    width: 888px;
    height: 90vh;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: scroll;
    overflow-x: hidden;

  }
  #CloseButton {
    position: absolute;
    right: 32px;
  }

  .BacktestMiddleDiv {
    width: 856px;
    height: 640px;
    background: #fff;
    opacity: 1;
    position: absolute;
    top: 347.5px;
    border-top: 2px solid #dbdde0;
    left: 0px;

    overflow: hidden;
  }
  .BacktestUpperDiv {
    width: 856px;
    height: 347.5px;
    background: #fff;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 32px;
    border-radius: 8px;
    overflow: hidden;
  }

  .InvestAmountCaption {
    width: 56px;
    color: rgba(0,0,0,1);
    position: absolute;

    top: 68px;
    left: 26px;
    
    opacity: 1;
    z-index: 1;
    font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2a323f;
  }
  .InvestFeeCaption {
    width: 83px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 131px;
    left: 440px;
    opacity: 1;
    z-index: 1;
    font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2a323f;
  }
  .InvestSlippageCaption {
    
    color: rgba(0,0,0,1);
    position: absolute;
    left: 440px;
    top: 192px;
    z-index: 1;
    font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2a323f;
  }
  #InvestSlippageInput {
    position: absolute;
    top: 178px;
    left: 424px;
    width: 400px;
    height: 46px;
    text-align: right;
    color: #8d8f93;
    border-radius: 2px;
    border: solid 1px #dbdde0;
  }
  .InvestTaxCaption {
    width: 56px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 68px;
    left: 440px;
    opacity: 1;
    z-index: 1;
    font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2a323f;
  }
  .InvestTermCaption {
    width: 56px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 26px;
    
    opacity: 1;
    z-index: 1;
    font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2a323f;
  }
  .InvestAmountInput {
    width: 400px;
    height: 48px;
    padding-right: 52px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
   
    position: absolute;
    top: 54px;
    left: 0px;
    overflow: hidden;
     text-align: right;
    color: #8d8f93;
    border-radius: 2px;
    border: solid 1px #dbdde0;
    
  }
  .InvestAmountInput:hover {
    width: 400px;
    height: 48px;
    padding-right: 52px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #8d8f93;
    position: absolute;
    top: 54px;
    left: 0px;
    overflow: hidden;
    border-radius: 2px;
    border: solid 1px #dbdde0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
  }
  .InvestAmountInput:focus {
    width: 400px;
    height: 48px;
    padding-right: 52px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #8d8f93;
    position: absolute;
    top: 54px;
    left: 0px;
    overflow: hidden;
    border-radius: 2px;
    border: solid 1px #dbdde0;
    border-radius: 2px;
  border: solid 1px #2a323f;
  outline: none;
  }
#InvestTermDiv {
  width: 400px;
  height: 48px;
  border-radius: 2px;
  border: solid 1px #dbdde0;
  background-color: #fff;
  position: absolute;
  top: 118px;
}
  .WeeklyButton {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 64px;
    height: 46px;
    border: none;
    outline: none;
    z-index: 1;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2a323f;
    background-color: #fff;
  }
  #WeeklyButtonDiv {
    width: 66px;
    height: 48px;
    opacity: 1;
    position: absolute;
    top: -1px;
    left: 103.5px;
    overflow: hidden;
    border: 1px solid #dbdde0;
    outline: none;
    z-index: 1;
  }
  .MonthlyButton {
    width: 66px;
    height: 48px;
    position: absolute;
    
    top: 0px;
    left: -1px;
    opacity: 1;
    overflow: hidden;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2a323f;
    border: none;
    background-color: #fff;
  }
  #MonthlyButtonDiv {
    width: 66px;
    height: 48px;
    opacity: 1;
    position: absolute;
    top: -1px;
    left: 169.5px;
    overflow: hidden;
    border: 1px solid #dbdde0;
    outline: none;
    z-index: 1;
  }
  #ThreeMonthButtonDiv {
    width: 66px;
    height: 48px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    left: 235.5px;
    top: -1px;
    border: 1px solid #dbdde0;
    outline: none;
    z-index: 1;
  }
  .ThreeMonthButton {
    width: 66px;
    height: 48px;
    border: none;
    opacity: 1;
    overflow: hidden;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2a323f;
    background-color: #fff;
  }
  .OtherTermButton {
    width: 97.5px;
    height: 48px;
    position: absolute;
    left: 301.5px;
    top: 0px;
    opacity: 1;
    overflow: hidden;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2a323f;
    background-color: #fff;
  }
  .TaxInput {
    width: 400px;
    height: 46px;
    opacity: 1;
    position: absolute;
    top: 54px;
    left: 424px;
    overflow: hidden;
    text-align: right;
    color: #8d8f93;
    border-radius: 2px;
    border: solid 1px #dbdde0;
  }
  .FeeInput {
    width: 400px;
    height: 46px;
    opacity: 1;
    position: absolute;
    top: 118px;
    left: 424px;
    overflow: hidden;
    text-align: right;
    color: #8d8f93;
    border-radius: 2px;
    border: solid 1px #dbdde0;
  }
  .TenThousandWonCaption {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 68px;
    left: 356px;
    z-index: 2;
    font-family: Pretendard;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #8d8f93;
  }
  .TapDiv {
    width: 400px;
    height: 30px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 652px;
    left: 25%;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .BackTestExecuteButton {
    width: 111px;
    height: 36px;
    background: rgba(116,20,131,1);
    opacity: 1;
    position: absolute;
    top: 3%;
    right: 2.5%;
  }
#StrategyTitleCaption {
   position: absolute;
   top: 0px;
   left: 0px;
   
   height: 29px;
   margin: 0px;
   padding: 0px;
   font-family: Pretendard;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2a323f;
}
#ExecuteButton {
  position: absolute;
  right: 32px;
  width: 135px;
  height: 48px;
  top: 240px;
  border-radius: 4px;
  border:none;
  outline: none;
  background-color: #1e78ff;

  font-family: Pretendard;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
#SummaryCaption{
  position:absolute;
  top: 99.5px;
  left: 32px;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2a323f;
}

#SummaryDesc{
  position: absolute;
  top: 136.5px;
  left: 32px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #495262;
}
#SummaryTable {
  position: absolute;
  top: 176.5px;
  left: 32px;
  width: 824px;

  }
#SummaryTableHead {
  background-color: #f1f5f9;
  height: 32px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #495262;
}
#SummaryTableBody {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
}
#AccTableCaption{
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2a323f;
  position: absolute;
  top: 316.5px;
  left: 32px;
}

