* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .MainFrame {
    width: 100%;
    height: 1080px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .Header {
    width: 100%;
    height: 100px;
    background: rgba(50,255,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    
    right: 0px;
    overflow: hidden;
}
#AlgoNameBar{
  position: absolute;
width: 100%;
height: 64px;
left: 0px;
top: 64px; 
background: #1B1F24;
}

#AlgoNameText{
  
  position: absolute;
  left: 24px;
  top: 20px;
  bottom: 19px;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
    .LogoDiv {
    width: 101px;
    height: 70px;
    background: rgba(255,0,0,1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 35px;
    overflow: hidden;  
}
    .LogoutDiv {
    width: 115px;
    height: 45px;
    background: rgba(255,0,0,1);
    opacity: 1;
    position: absolute;
    top: 38px;  
    right: 60px;
    overflow: hidden;
}
    .LogoutText {
    width: 115px;
    height: 45px;
    position: absolute;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}
    .LogoText {
    width: 71px;
    color: rgba(255,255,255,1);
    position: absolute;
    margin: auto;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}
  .AlgorithmName {
    width: 165px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 124px;
    left: 35px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .BlockCodingDiv {
    width: calc(inherit-480px);
    height: 1080px;
  
    opacity: 1;
    position: absolute;
    top: 128px;
    left: 0px;
    overflow: hidden;
  }
  .CoinListDiv {
    width: 30%;
    height: 238px;
    background: rgba(193,53,53,1);
    opacity: 1;
    position: absolute;
    top: 446px;
    right: 0px;
    overflow: hidden;
  }
  #StrategyTestButton {

    width: 120px;
  height: 42px;
  flex-grow: 0;
  
  border-radius: 4px;
  background-color: #1e78ff;
    border-style: hidden;
    text-align: center;
    position: absolute;
    right:24px;
   top:11px;
   bottom: 11px;
    color: #fff;
    font-family: Pretendard;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;

  }
  #StrategyTestButton:hover {

    width: 120px;
  height: 42px;
  flex-grow: 0;
  
  border-radius: 4px;
  background-color: #3c8aff;
    border-style: hidden;
    text-align: center;
    position: absolute;
    right:24px;
   top:11px;
   bottom: 11px;
    color: #fff;
    font-family: Pretendard;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;

  }
  #StrategyTestButton:disabled {

    width: 120px;
  height: 42px;
  flex-grow: 0;
  
  border-radius: 4px;
  background-color: #1e78ff;
  opacity: 0.4;
    border-style: hidden;
    text-align: center;
    position: absolute;
    right:24px;
   top:11px;
   bottom: 11px;
    color: #fff;
    font-family: Pretendard;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;

  }
  .BlockCodingTempMsg {
    width: 290px;
    color: rgba(0,0,0,1);
    position: absolute;
    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .ModalWrapper {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 999;
  }