@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.CoinInfoUpperDiv {
    width: 480px;
    height: calc(100% - 120px);
    opacity: 1;
    position: absolute;
    top: 128px;
    right: 0px;
    overflow: scroll;

    flex-grow: 0;
    margin: 1px 0 0;
    background-color: #fff;  
    box-shadow: -3px 0px 10px rgba(0,0,0,0.25);
}
.CoinInfoUpperInnerDiv {
    left: 0px;
    top: 0px;
    height: 480px;
    opacity: 1;
    position: relative;
    overflow: hidden;
}
.CompareYesterday {
    color: rgba(0,0,0,1);
    position: absolute;
    
    left: 0px;
    top:5px;
    width: 49px;
    height: 21px;
    flex-grow: 0;
    
    font-family: Pretendard;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #787a80;
  }
#ComparePercent {
    position: absolute;
    left: 57px;
    top: 3px;
    width: 60px;
    height: 23px;
    background-color:#edf4ff;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0040e4;
}
.CoinImage {
    width: 24px;
    height: 24px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 26px;
    left: 24px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}
#CoinNameDiv {
    top: 26px;
    left: 58px;
    position: absolute;
}
.CoinName {
    color: rgba(0,0,0,1);
    font-family: Pretendard-SemiBold;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.CoinID {
    width: 31px;
    color: #787a80;
    left: 8px;
    position: relative;
    font-family: Pretendard;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
    opacity: 1;
    text-align: left;
}
#CoinPMDiv {
    position: absolute;
    top: 126px;
    left: 24px;
    height: 25px;
    width: 432px;

}
.PlusMinus {
    color: rgba(0,0,0,1);
    position: absolute;
    bottom: -2px;
    left: 137px;
    font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #0040e4;
}
#PriceDiv {
    left: 24px;
    top: 68px;
    height: 48px;
    position: absolute;
}
.CurrentPrice {
    width: 103px;
  height: 48px;
  
    color: rgba(0,0,0,1);
    position: relative;
    bottom: 8px;
    left: 0px;
    font-family: Pretendard-SemiBold;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #0040e4;
}


.MarketCap {
    width: 59px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 5px;
    left: 228px;
    font-family: Pretendard;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #787a80;

}
#MarketCapValue {
    position: absolute;
    left: 285px;
    top: 5px;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: right;
    color: #4c4d50;
}
.CoinDescriptionDiv {
    width: 432px;
    opacity: 1;
    position: absolute;
    top: 187px;
    left: 24px;
    height: 119.5px;
    overflow: hidden;
    
}
.CoinDescription {
    
    color: rgba(0,0,0,1);
    position: absolute;
    
    font-family: Pretendard;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #4c4d50;
}
#DNHR {
    position: absolute;
    top: 306.5px;
    left: 24.5px;
    width: 431.5px;
    height: 1px;
    background-color: #f2f4f6;
    
}
.CoinNewsDiv {
    width: 90%;
    height: 82px;
    opacity: 1;
    position: absolute;
    top: 330px;
    left: 26px;
    overflow: hidden;
}
.CoinNews {
    
    color: rgba(0,0,0,1);
    position: absolute;
    
    font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #2a323f;
}
#MoneyCurrency {
    position:relative;
    left: 10px;
    bottom: 8px;
    color: #0040e4;
}
#CoinListSearchDiv{
    position: absolute;
    top: 476.5px;
    left: 0px;
    width: 480px;
    height: calc(100% - 480px);
    
}
#CoinNameSymbolSearchInput {
    position: absolute;
    top: 23.5px;
    left: 25px;
    width: 429px;
    height: 48px;
    border-radius: 2px;
  background-color: #f1f5f9;
  border-style: none;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #838ea0;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 15px;
}
#SEHR {
  position: absolute;
  top: 476.5px;
    width: 480px;
  height: 1px;
  background-color: #dbdde0;

}

#SearchOptionLogo{
    position: absolute;
    right: 48px;
    top: 37.5px;
}