#MenuDiv {
    position: absolute;
    top: 71.5px;
    left: 0px;
}

#CoinTabContents{
    position: absolute;
    overflow: auto;
    overflow-x: hidden;
    top: 122.5px;
    left: 25px;
    background-color: #fff;
    width: 432px;
    height: 100%;
    margin-bottom: 22.5px;
    
}df
li {
    display: inline;
}
.tabs{
    position: absolute;
    top: -10px;
    width: 465px;
    left: -12px;
}

ul li {
    padding-top: 10px;
    float: left;
    width: 25%;
    height: 48px;
    color: #1e78ff;
    font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #63696d;
}

ul li:active {
    float: left;
    width: 25%;
    height: 48px;
    text-align: center;
    font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #1e78ff;
    border-bottom: 3px solid #1e78ff;
}