
  #BackTestWrapper {
    font-size: 14px;
    width: 888px;
    height: 90vh;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: scroll;
    overflow-x: hidden;

  }