* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .MainFrame {
    width: 100%;
    height: 720px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .Header {
    width: 100%;
    height: 100px;
    background: rgba(50,255,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .LogoDiv {
    width: 101px;
    height: 70px;
    background: rgba(255,0,0,1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 35px;
    overflow: hidden;
  }
  .LogoutDiv {
    width: 115px;
    height: 45px;
    background: rgba(255,0,0,1);
    opacity: 1;
    position: absolute;
    top: 38px;
    right: 60px;
    overflow: hidden;
  }
  .LogoutText {
    width: 115px;
    height: 45px;
    position: absolute;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .LogoText {
    width: 71px;
    color: rgba(255,255,255,1);
    position: absolute;
    margin: auto;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .ListDiv {
    width: 100%;
    height: 221px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 123px;
    left: 0px;
    overflow: hidden;
    text-align: center;
  }
  .ListContentDiv {
    width: 97%;
    height: 43px;
    background: rgba(26,25,53,0.38999998569488525);
    opacity: 1;
    position: absolute;
    top: 19px;
    left: 18px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .ListContentText {
    width: 58px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 14px;
    left: 35px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .ListValueText{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -30%;  
  }
  .CryptoContentDiv{
    width: 100%;
    height: 280px;
    opacity: 1;
    position: absolute;
    top: 440px;
    left: 0px;
    overflow: hidden;
    text-align: center;
  }
  .TestExecuteDiv {
    width: 133px;
    height: 33px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    right: 20px;
    overflow: hidden;
  }
  .TestExecuteButton {
    width: 135px;
    height: 33px;
    margin-top: 5px;
    margin-right: 10px;
    right: 20px;
    background-color: rgba(217,217,217,1);;
    color: rgba(0,0,0,1);
    position: absolute;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .CreateStrategyButton {
    width: 153px;
    height: 33px;
    background: rgba(17,13,45,0.7400000095367432);
    color: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    bottom: 10px;
    overflow: hidden;
    display: inline-block;
  }
  .RankDiv {
    width: 35%;
    top: 375px;
    right: 0px;
    position: absolute;
  }
  .RankTitle {
    color: rgba(0,0,0,1);
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .RankContent {  
    top: 37.5px;
    position: absolute;
    height: 280px;
    width: 100%;
    background: rgba(217,217,217,1);
    opacity: 1;
    right: 0px;
    overflow: hidden;
  }
  .NewsTitle {
    color: rgba(0,0,0,1);
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .ModifyDiv {
    width: 71px;
    height: 33px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    overflow: hidden;
  }
  .ModifyButton {
    width: 71px;
    height: 33px;
    margin-top: 5px;
    background-color: rgba(217,217,217,1);
    color: rgba(0,0,0,1);
    position: absolute;
    text-align: center;
    right: 240px;
    line-height:inherit;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
  }
  .DeleteDiv {
    width: 71px;
    height: 33px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    right: 173px;
    overflow: hidden;
  }
  .DeleteButton {
    margin-top: 5px;
    width: 71px;
    height: 33px;
    right: 167px;
    background-color: rgba(217,217,217,1);
    position: absolute;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .NewsDiv{
    width: 62.5%;
    top:375px;
    left: 0px;
    position: absolute; 
  }
  .NewsContentDiv {
    top: 37.5px;
    position: absolute;
    width: 100%;
    height: 280px;
    background: rgba(217,217,217,1);
    opacity: 1;
    left: 0px;
    overflow: hidden;
  }